<div class="grid-container">

  <div style="display: block">

    </div>
    <h3 color="primary" selected> Average  </h3>


    <mat-grid-list cols="8" rowHeight="200px">
      <mat-grid-tile *ngFor="let card of cards " [colspan]="2" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
             Subject:  <b> {{card.subject}}  </b>

            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div>
                <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item> <p>Max: &nbsp; {{card.max}}</p> </mat-list-item>
                    <mat-list-item>
                      <p> Avg: &nbsp; {{card.avg}} </p>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                  </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
