<h2>Hướng dẫn viết các câu hỏi:</h2>
<p>Các câu hỏi dành cho ứng cử viên phân thành 2 loại:&nbsp;
     <strong>Multiple choice</strong>
   và; <strong>single choice</strong>.
</p>

<p>
  <em>(Tại những câu multiple choice bạn có thể lựa chọn nhiều đáp án đúng)</em>
</p>

<h4>
  Ở lần đầu tiên đăng ký(thêm mới) một candidate thì bạn phải chọn luôn các bài quiz, và sẽ không thể thay đổi sau đó.
</h4>
<p>Các mục: <strong>
    tiêu đề câu hỏi, nội dung mô tả, nội dung câu trả lời
</strong>có thể được biết bằng html .</p>
<p>Ngoài mặc định là 4 câu trả lời, bạn có thể khai báo nhiều hơn bằng cách nhấn vào nút (+).</p>
<p><strong>FQA</strong>:</p>
<h4>Q: Làm sao để tôi điền vào các bức ảnh?</h4>
<p>1. Đầu tiên bạn truy cập và địa chỉ <a href="https://imgur.com/upload">https://imgur.com/upload</a></p>
<p>2. Sau đó upload bức ảnh bạn muốn vào hosting này.</p>
<p>3. Sau khi quá trình tải lên hoàn thành, bạn nhấp chuột vào bức ảnh và nhấn chuột phải.</p>
<p>4. Chọn <em><span style="text-decoration: underline;">
  <strong>
      Chọn Sao chép hình ảnh
</strong></span></em>,&nbsp;</p>
<p>5. Vào màn hình nhập liệu cho question, Ctrl+ V vào vị trí cần đặt ảnh</p>
<h6><em><span style="color: #ff0000;">
    (CkEditor là một thư viện hỗ trợ viết html mạnh, tuy nhiên với angular6- công nghệ đang dùng gặp phải một số vấn đề chưa khắc phục được, mong bạn thông cảm!).
</span></em></h6>
